html, body {
  height: 100%;
}

body {
  background-color: #434c37;
  color: white;
  font-family: sans-serif;
  margin: 2%;
}

h1 {
  margin-top: 0;
}

#map_canvas {
  float: left;
  border: 1px solid gray;
  margin: 0;
  width: 70%;
  height: 92%;
}

.body {
  float: left;
  margin-right: 2%;
  width: 24%;
}

.SvgOverlay {
  position: relative;
  width: 900px;
  height: 600px;
}

.SvgOverlay svg {
  position: absolute;
  top: -4000px;
  left: -4000px;
  width: 8000px;
  height: 8000px;
}

path {
  fill: black;
  stroke: black;
  stroke-width: 2px;
}

.point {
  fill: black;
  cursor: default;
  opacity: 0.5;
}

form {
  margin-bottom: 1em;
}

select {
  font-size: 2em;
}

.mouseover {
  transition: all 0.5s ease;
  opacity: 1;
}

.mouseout {
  transition: all 0.5s ease;
  opacity: 0.5;
}

.neighborhood {
  fill: white;
  opacity: 0.25;
}

p {
  line-height: 1.4;
}
